* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  #header{
      background-image: url(./pic.png);
      
      
      width: 100%;
      height: 700px;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
  }
  .navbar{
      display: flex;
      width: 95%;
      margin: auto;
      
  }
  .logo{
      padding-top: 12px;
      margin-right: 40px;
  }
  .nav_text{
      padding: 20px 20px;
  }
  .right_nav{
      position: relative; 
      width: 100%;
      display: flex;
      justify-content: flex-end;
     
  }
  .search,.download_wara{
      padding: 15px 20px;
  }
  .header_context{
      display: flex;
      flex-direction: column;
      z-index: 1;
      position: absolute;
      left: 15%;
      top: 50%;
  }
  #main_section{
       width: 90%;
       
       margin: auto;
       padding-top: 80px;
  }
  .top{
      display: flex;
      
      position: relative;
  }
  .about_us_picture{
      display: flex;
      overflow: hidden;
      padding-top: 80px;
  }
  .main_pi{
      padding: 0 40px 0 0;
  }
  .scroll_line{
      position: absolute;
      right: 0px;
      bottom: 0;
      
  }
  .scroll_scooter{
      position: absolute;
      left: 37.5vw;
      bottom: 12px;
      z-index: 1;
  }
  #footer{
      background-color: black;
      width: 100%;
      height: 180px;
      display: flex;
      justify-content: space-between;
      margin-top: 100px;
  }

  .middle_footer{
      position: relative;
      left: 250px;
      padding-top: 15px;
  }
  .middle_footer_down{
      position: relative;
      left: 227px;
     /* border: 5px solid #a89;*/
      margin-top: 25px;
      width: 80%;
  }
  .wara2022{
      margin-top: 30px;
  }
  .left_footer{
    margin-top: 30px;
    margin-left: 50px;
  }
  .bottom_top{
      padding-top: 35px;
      padding-right: 50px;
  }

  .header_try{
      margin-top: 20px;
  }